.boton-superior{
    float: left;
    aspect-ratio: 1/1;
    height: 2rem;
    padding:1%;
    box-sizing: border-box;
    border-radius: 2vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-size:contain;
    background-position: center;
    /*box-shadow: 0.1vw 0.1vh 0.5vw #111;*/
    border: 0.1vw solid rgba(17, 17, 17, 0.5);
}
.boton-superior:hover{
    cursor: pointer;
    color: #f5f5f5;
}

/* IZQUIERDA - LEFT*/

.boton-superior-cierre{
    /*box-shadow: 0.2vw 0.2vw 1vw #511;*/
    background-image: url(../images/Claro/hogar.webp);
}

.boton-superior-cierre:hover{
    /*box-shadow: 0.2vw 0.2vw 1vw #511;*/
    background-image: url(../images/hogar.webp);
}

/* DERECHA - RIGHT */

.boton-superior-contacto:hover{
    border: 0.1vw solid rgba(17, 85, 17, 0.5);
    /*box-shadow: 0.2vw 0.2vw 1vw #151;*/
    background-image: url(../images/contacto.webp);
}